<div class="container">
<div class="col-12">
  <%= image-tag "IMG_0779.jpeg", class:"img-full", style:"height: 450px; width: 100%", alt:"Full Screen Image" %>
</div>
  <div class="row mt-5">
    <div class="col-lg-12">
      <h1 class="text-center">Trip-zについて</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-12">
      <p class="text-center">
        このアプリは皆さんが投稿した写真付きの観光スポットやお店について評価するサイトです。<br>
        写真付き投稿を条件とすることで投稿を見たユーザーにイメージが湧きやすくなるように配慮しています。投稿する際は皆さんが思うような映えてる写真を投稿しましょう！
        気になる観光スポットやお店について教えてほしい場合はDM機能を使用するなどして投稿者に対して直接質問もできる仕様にしてますので、コミュニケーションの場として活かしていただけますと幸いでございます。
      </p>
    <div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-12">
      <p class="text-center">
        !使用上の注意!<br>
        投稿に対しコメントする際は、投稿者に対する攻撃的な文言の使用や誹謗中傷については禁止します。<br>
        そのようなコメントが発見された場合は、アカウントの凍結をいたします。
      </p>
    </div>
  </div>
</div>