<div class="container-fluid">
  <div class="row  justify-content-center">
    <div class="col-12">
    <%= image_tag "IMG_0811.jpeg",  class:"img-full", style:"width:100%", alt:"Full Screen Image" %>
    </div>
    <div class="col-3 text-center" style="position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%); color: white; padding: 10px;">
      <%= link_to 'ゲストとしてログインする', homes_guest_sign_in_path, method: :post %>
    </div>
  </div>
</div>