<table>
  <tbody>
    <h3>コメント欄</h3>
      <% post.post_comments.each do |post_comment| %>
      <tr>
        <td width="15%">
          <%= link_to user_path(post_comment.user) do %>
            <%= post_comment.user.name %>
          <% end %>
        </td>
        <td width="75%"><%= post_comment.comment %></td>
        <td width="10%">
          <% if post_comment.user == current_user %>
            <%= link_to "削除", post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-danger pull-right" %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>