@use '~bootstrap/scss/bootstrap';

.top{
  height: calc( 100vh - 56px );
  overflow-y: hidden;
}
.top-image{
  height: calc( 100vh - 56px );
  width: 100%;
  object-fit: cover;
}

.tl-1 th{
  width: calc(6em + 0.75rem * 2);
}