<div class="row mt-4">
<table class='table'>
  <tr>
    <th>ユーザー名</th>
    <th>自己紹介</th>
  </tr>
  <% users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.introduction %></td>
  </tr>
  <% end %>
</table>
</div>