<div class="container">
  <div class="row mt-3">
    <div class="col-md-3">
      <h3>ユーザー一覧</h3>
    </div>
  </div>
  <div class="row">
    <%= render 'public/users/index', users: @users %>
  </div>
</div>